
{% block content %}
Input:
<form action="{{ url_for('handle_data') }}" method="post">
    <p>
        <label for="userName">Talking with:</label>
        <input type="text" name="userName" id="userName" placeholder="Amitay">
    </p>
    <p>
        <label for="question">His sentence:</label>
        <input style="width: 800px;" type="text" id="question" name="query1" placeholder="Hi Ran, do you want to eat lunch tomorrow at 12:00 in Zozobra?">
    </p>
    <p>
        <label for="answer">Your sentence:</label>
        <input style="width: 800px;" type="text" id="answer" name="query2" placeholder="Yes, Oren will also be here tomorrow, let's invite him too.">
    </p>
    <p>
        <input type="submit">
    </p>
        <input type="hidden" name="token" value={{token}}>
</form>
<!--p><input type="text" id="Input" value="Your schedualing here"></p>

<a href="/my-link/">Go Cortana</a-->

<p>Output: </p>
<pre id="json">{{ message }}</pre>

{% endblock %}